api_platform:
    title: MusicAll API
    version: 1.0.0
    show_webby: false
    name_converter: 'serializer.name_converter.camel_case_to_snake_case'
    enable_link_security: true
    swagger:
        api_keys:
            JWT:
                name: Authorization
                type: header
    patch_formats:
        json: ['application/merge-patch+json']
    formats:
        jsonld: ['application/ld+json']
    docs_formats:
        jsonld: ['application/ld+json']
        jsonopenapi: ['application/vnd.openapi+json']
        html: ['text/html']
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
    use_symfony_listeners: false
    exception_to_status:
        # Symfony
        Symfony\Component\Serializer\Exception\ExceptionInterface: 400
        Symfony\Component\Security\Core\Exception\AccessDeniedException: 401
        # Api platform specific
        ApiPlatform\Exception\InvalidArgumentException: 400
        ApiPlatform\Exception\FilterValidationException: 400
        # Doctrine specific
        Doctrine\ORM\OptimisticLockException: 409
        # APP:
        # Publication
        App\Exception\PublicationNotFoundException: 404
        # Comment
        App\Exception\CommentNotFoundException: 404
        # Forum
        App\Exception\ForumPostNotFoundException: 404
        # Search
        App\Exception\Musician\InvalidSearchException: 400
        App\Exception\Musician\NoResultException: 404
        App\Exception\Musician\InvalidResultException: 404
        # User
        App\Exception\User\ResetPasswordInvalidTokenException: 404
        App\Exception\User\UserAlreadyLoggedException: 400
