# Documentation on how to configure the bundle can be found at: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"
    twig:
        mode: 'lazy'
    loaders:
        default:
            filesystem:
                data_root:
                    - "%kernel.project_dir%/public"
        flysystem_loader:
            flysystem:
                filesystem_service: oneup_flysystem.musicall_filesystem

    filter_sets:
        publication_image_filter:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [800, 800]
            post_processors:
                jpegoptim: { strip_all: true, max: 85, progressive: true }
                optipng: { strip_all: true, level: 5 }

        publication_cover_300x300:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [300, 300]
            post_processors:
                jpegoptim: { strip_all: true, max: 85, progressive: true }
                optipng: { strip_all: true, level: 5 }

        gallery_image_filter_full:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [1500, 1500]
            post_processors:
                jpegoptim: { strip_all: true, max: 100, progressive: true }
                optipng: { strip_all: true, level: 5 }

        gallery_image_filter_medium:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [500, 500]
            post_processors:
                jpegoptim: { strip_all: true, max: 75, progressive: true }
                optipng: { strip_all: true, level: 5 }

        gallery_image_filter_small:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [200, 200]
            post_processors:
                jpegoptim: { strip_all: true, max: 10, progressive: true }
                optipng: { strip_all: true, level: 5 }

        featured_cover_filter:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [1500, 1500]
            post_processors:
                jpegoptim: { strip_all: true, max: 100, progressive: true }
                optipng: { strip_all: true, level: 5 }

        wiki_artist_cover_filter:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [1500, 1500]
            post_processors:
                jpegoptim: { strip_all: true, max: 100, progressive: true }
                optipng: { strip_all: true, level: 5 }

        user_profile_picture_small:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [ 150, 150 ]
            post_processors:
                jpegoptim: { strip_all: true, max: 100, progressive: true }
                optipng: { strip_all: true, level: 5 }

        user_cover_picture:
            data_loader: flysystem_loader
            filters:
                downscale:
                    max: [ 1200, 300 ]
            post_processors:
                jpegoptim: { strip_all: true, max: 85, progressive: true }
                optipng: { strip_all: true, level: 5 }