vich_uploader:
    db_driver: orm
    storage: flysystem
    metadata:
        type: attribute
    mappings:
        # this is used to store image in publication
        publication_image:
            upload_destination: oneup_flysystem.musicall_filesystem
            uri_prefix: ''
            namer:
                service: Vich\UploaderBundle\Naming\HashNamer
            directory_namer:
                service: App\Service\DirectoryNamer\StaticDirectoryNamer
                options: { path: '/images/publication/post' }

        # this is used to store "cover" image of a publication (shared video also)
        publication_image_cover:
            upload_destination: oneup_flysystem.musicall_filesystem
            uri_prefix: ''
            namer:
                service: Vich\UploaderBundle\Naming\HashNamer
            directory_namer:
                service: App\Service\DirectoryNamer\StaticDirectoryNamer
                options: { path: '/images/publication/cover' }
            inject_on_load: true

        gallery_image:
            upload_destination: oneup_flysystem.musicall_filesystem
            uri_prefix: ''
            directory_namer:
                service: App\Service\DirectoryNamer\StaticDirectoryNamer
                options: { property: 'gallery.id', path: '/images/gallery'}
            namer:
                service: Vich\UploaderBundle\Naming\HashNamer

        # This is used to store "featured publication image" (the one on top of the site)
        featured_image:
            upload_destination: oneup_flysystem.musicall_filesystem
            uri_prefix: ''
            namer:
                service: Vich\UploaderBundle\Naming\HashNamer
            directory_namer:
                service: App\Service\DirectoryNamer\StaticDirectoryNamer
                options: { path: '/images/publication/featured' }
            inject_on_load: true

        wiki_artist_cover_image:
            upload_destination: oneup_flysystem.musicall_filesystem
            uri_prefix: ''
            namer:
                service: Vich\UploaderBundle\Naming\HashNamer
            directory_namer:
                service: App\Service\DirectoryNamer\StaticDirectoryNamer
                options: { path: '/images/wiki/artist' }
            inject_on_load: true

        # this is used to store user profile picture
        user_profile_picture:
            upload_destination: oneup_flysystem.musicall_filesystem
            uri_prefix: ''
            namer:
                service: Vich\UploaderBundle\Naming\HashNamer
            directory_namer:
                service: App\Service\DirectoryNamer\StaticDirectoryNamer
                options: { path: '/images/user/profile' }
            inject_on_load: true

        # this is used to store user cover picture (public profile)
        user_cover_picture:
            upload_destination: oneup_flysystem.musicall_filesystem
            uri_prefix: ''
            namer:
                service: Vich\UploaderBundle\Naming\HashNamer
            directory_namer:
                service: App\Service\DirectoryNamer\StaticDirectoryNamer
                options: { path: '/images/user/cover' }
            inject_on_load: true
