.medium-editor-element{
    font-size: 16px;
    padding: 7px;
}
.medium-insert-images-toolbar {
    display: none !important;
}

#publication-text {
    position: relative;
}

.content-box .medium-insert-images figure img {
    max-width: 700px;
}

.medium-editor-insert-plugin .medium-insert-buttons {
    margin-left: -50px;
    margin-top: -7px;
}

.medium-insert-embeds, .mediumInsert-embeds {
    margin: 1em auto;
    max-width: 700px;
}

/* PHP html parser remove some style ! We add them from CSS */
.medium-insert-embed iframe {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 60;
}

/* When editor mode iframe shouldn't be clickable */
#publication-text .medium-insert-embed iframe {
    z-index: 1;
}

.medium-insert-embeds-overlay {
    z-index: 59;
}

.jssocials-share-facebook-like .jssocials-share-link {
    background: #3b5998; }
.jssocials-share-facebook-like .jssocials-share-link:hover {
    background: #2d4373; }