.article-section {
    position: relative;
}
.infos-article {
    margin-left: 7px;
    color: #7b7c7f;
    font-size: .8em
}

.publication-social-sharing {
    top: 60px;
    position: absolute;
    right: -40px;
    float: right;
    width: 40px;
    font-size: 16px;
    text-align: left;
}

.article{
    width: 100%;
    padding: 7px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
}

.article ul,
.article ol {
    margin-left: 25px;
}

.article h3 {
    font-size: 17px;
    height: 30px;
    padding-left: 2%;
    text-transform: uppercase;
}

.article h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    padding-left: 5%;
    text-transform: uppercase;
}

.article img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 7px auto;
}

#video-description {
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

#video-description .show-more {
    display: none;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    cursor: pointer;
    border-top: 1px solid #666;
    background: white;
}

/* This is a temp */
.youtube-embed-wrapper {
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    position: relative;
}

.youtube-embed-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 1150px) {
    .publication-social-sharing {
        display: none
    }
}