/*
On s'occupe ici de la mise en forme des commentaires ainsi que le formulaire de réponses des commentaires
*/

.thread-container {
    margin: 20px 0;
    padding: 10px 0;
    clear: both;
}

.thread-form-container {
    clear:both;
}

.thread-form-container form {
    padding-top: 60px;
}

.thread-container .spinner {
    text-align: center;
}

.thread-form-container h3,
.thread-container h3 {
    margin: 15px 0 30px 0;
    font-weight: 600
}

.thread-container .comment-box {
    width: 100%;
    margin: 5px 0;
}

.thread-container .comment-box p {
    padding: 5px 0;
    min-height: 75px;
    margin: 0;
}

.thread-container .comment-message {
    background: white;
}

.thread-form-container .comment-box:last-of-type,
.thread-container .comment-box:last-of-type {
    border-bottom: none;
}

.thread-form-container .comment input {
    width: 555px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.thread-form-container textarea {
    width: 100%;
    min-height: 110px;
    margin-bottom: 15px;
    resize: none;
}

.thread-form-container .btn {
    clear: both;
}

.thread-container .date-post {
    display: inline-block;
    text-transform: lowercase;
    font-size: 12px;
}

.thread-container .pseudo {
    margin-right: 5px;
}

@media only screen and (max-width: 550px) {

}

