/* Affichage de tous les cours */
.box-cours {
    margin: auto;
    display: block;
    padding: 15px;
    text-align: center;
}

.box-cours  a {
    display: block;
    width: 100%;
    font-weight: 600;
    color: #647c8f;
    font-size: 16px;
    position: relative;
}

.box-cours span {
    padding: 10px;
    position: absolute;
    top: 0; left: 0; right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #adadad;
}

.withTable {
    float: left;
}
/* Style pour le rendu d'un cours */
.cours-container img {
    max-width: 100%;
}

.summary {
    margin-right: 15px;
    padding: 20px 60px;
    margin-bottom: 30px;
}

.summary span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.summary ul {
    list-style: none
}

.summary .second-level {
    margin-left: 20px;
}

.info-cours {
    width: 100%;
    box-sizing: border-box;
    background: #e9e9e9;
    border: 1px solid #d2d2d2;
    padding: 15px 15px 10px;
    margin-bottom: 10px;
}

.info-cours .left-col,
.info-cours .right-col {
    display: inline-block;
}

.info-cours .left-col {
    width: 20%;
    vertical-align: top;
}

.info-cours .right-col {
    width: 79%;
}

.info-cours ul {
    list-style: none;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.info-cours li {
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
    float: left;
    margin-right: 6%;
}

.info-cours li span,
.info-cours li a {
    color: #647c8f;
    text-transform: none;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.info-cours .fb-like {
    float: left;
    margin: -1px 25px 0 0;
}

.cours-image {
    margin: auto;
    display: block;
}

.form-cours {
    margin-top: 15px;
}

.form-cours .title {
    width: 300px;
    margin-bottom: 10px;
}

.cours-icon {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    padding: 7px 0;
    text-align: center;
}

.form-cours .group {
    margin: 5px 0 10px 0;
}

@media only screen and (max-width: 680px) {
    .info-cours .left-col,
    .info-cours .right-col {
        width: 100%;
    }

    .boxCours.withTable {
        display: none
    }

    .boxTable {
        width: 100%;
    }

    .boxTable .coursTable td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 35%;
        text-align: left;
    }

    .boxTable .coursTable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .boxTable .coursTable td:nth-of-type(1):before {
        content: "Titre";
    }

    .boxTable .coursTable td:nth-of-type(2):before {
        content: "Auteur";
    }

    .boxTable .coursTable td:nth-of-type(3):before {
        content: "Creation";
    }

    .boxTable .coursTable td:nth-of-type(4):before {
        content: "Modification";
    }
}