
.menububble {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 20;
    background: #000;
    border-radius: 5px;
    padding: .3rem;
    margin-bottom: .5rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
}

.menububble__button i {
    margin-top: 3px;
    margin-left: 5px;
}


.menububble.is-active {
    opacity: 1;
    visibility: visible;
}

.menububble__button:last-child {
    margin-right: 0;
}

.menububble__button {
    display: inline-flex;
    background: transparent;
    border: 0;
    color: #fff;
    padding: .2rem .5rem;
    margin-right: .2rem;
    border-radius: 3px;
    cursor: pointer;
}

.editor-sticky {
    background: white;
    padding: 7px 0;
}