.footer {
  color: white;

  h3 {
    a {
      color: rgba(255, 255, 255, .75);
    }
  }

  ul a {
    color: rgba(255, 255, 255, .75);
  }

  a {
    color: rgba(255, 255, 255, .75);
  }

  a:hover {
    color: white
  }
}

.social a {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  background: #bebebe !important;
  border-radius: 50%;
  margin-right: 7px;
  margin-top: 7px;
  color: #666
}

.social a.facebook:hover {
  background: #477EDA !important;
}

.social a.twitter:hover {
  background: #03D0FC !important;
}

.social a.googleplus:hover {
  background: #D91E00 !important;
}

.social a.instagram:hover {
  background: #236294 !important;
}

.social a.youtube:hover {
  background: #D91E00 !important;
}