.publication blockquote {
    border-left: 3px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .8);
    padding-left: .8rem;
    font-style: italic;
}

.publication-container img {
    margin: 25px auto;
    display: block;
    width: auto;
}

@media screen and (max-width: 1250px) {
    .publication-container img {
        width: 100%;
    }
}