.highlight {
    animation: highlight 2s;
}

@keyframes highlight {
    0% {
        background: #ffd2a5
    }
    100% {
        background: white;
    }
}

.box {
    position: relative;
    width: 100%;
}

.box .info {
    padding: 7px 0;
    width: 100%;
}

.box .article-icone {
    width: 100%
}

.box h4 {
    font-weight: 300;
    font-size: 13px;
    margin: 0;
}

.box h4 a {
    color: black;
}

.box p {
    color: #8b8b8b;
    font-size: 10px;
    line-height: 1;
    margin: 0;
    padding-top: 5px;
    text-transform: uppercase;
}


.box:hover .post-description {
    opacity: 1;
    transition: 0.6s;
}

.post-description {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 7px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    text-align: left;
    word-break: break-all;
}

.post-description span {
    color: white;
}

.publication-type {
    border-radius: 4px;
    margin: 5px 5px 0 0;
    padding: 5px;
    display: inline-block;
    color: white;
}
.publication-type:hover {
    color: white;
}

.publication-type.video {
    background: #e9573f;
}

.publication-type.text {
    background: #5B87AE;
}

.list-flash-info h3,
.last-articles h3 {
    margin: 5px 0 10px 0
}

.last-publications {
    position: relative;
}

.list-flash-info ul {
    list-style: none;
    padding: 0
}

.list-flash-info li {
    border-bottom: 1px solid #EBEFF2;
    padding: 10px 0
}

.list-flash-info li:last-child {
    border-bottom: none;
}

.list-flash-info img {
    width: 100%;
}

.list-flash-info a {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.list-flash-info em {
    display: block;
    font-size: 12px;
    text-align: right;
}