#thread-container {
    height: 70vh;
}

#thread-list-container {
    height: 69vh;
    overflow: auto;
    border-right: 1px solid silver;
}

.thread-item {
    cursor: pointer;
    border-bottom: 1px solid silver;
    display: inline-block;
}

.thread-item:last-of-type {
    border-bottom: 0;
}

.thread-item.current {
    background: #EBEFF2;
}

.thread-item.is-new .thread-item-date {
    color: #0084ff
}

.thread-item.is-new .thread-item-last-message,
.thread-item.is-new .thread-item-username {
    font-weight: 700;
    color: #000;
}


.thread-avatar {
    vertical-align: top;
}

.thread-item-date {
    clear: left;
    color: rgba(153, 153, 153, 1);
    font-size: 0.8em;
}

.thread-item-last-message {
    clear: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(153, 153, 153, 1);
    font-size: 0.8em;
}

#message-container {
    overflow: auto;
    height: 70%;
}

#message-container .message-body{
    word-wrap: break-word;
    display: inline-block;
    margin: 3px 0;
    padding: 7px 10px;
    background: #EBEFF2;
    border-radius: 10px;
}

#message-container .is-sender .message-body {
    background: #5B87AE;
    color: white;
}

#message-container .message-body a {
    color: #5B87AE;
    text-decoration: underline;
}

#message-container .is-sender .message-body a {
    color: white;
    text-decoration: underline;
}


/*
#thread-list {
    height: 100%;
    overflow: auto;
    border-right: 1px solid silver;
}

#message-view {

}

#message-container {
    overflow: auto;
    padding: 15px;
}

.thread {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid silver;
    display: inline-block;
}

.thread.new .date-message {
    color: #0084ff
}

.thread.new .last-message,
.thread.new .login-message {
    font-weight: 700;
    color: #000;
}

.thread.no-messages {
    cursor: default;
}

.thread.current {
    background: #EBEFF2;
}

.thread:last-of-type {
    border-bottom: 0;
}

.avatar-message {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

.login-message {

}

.date-message {
    display: block;
    color: rgba(153, 153, 153, 1);
}

.last-message {
    display: block;
    clear: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(153, 153, 153, 1);
}

#message-form {
    padding-top: 7px;
}

#message-form form {
    border-top: 1px solid silver;
}

#message-form textarea {
    width: 100%;
    margin-bottom: 13px;
}

.isAuthor {
    text-align: right;
}

p.message-body {
    word-wrap: break-word;
    display: inline-block;
    margin: 3px 0;
    padding: 7px 10px;
    background: #EBEFF2;
    border-radius: 10px;
}

p.message-body a {
    color: #5B87AE;
    text-decoration: underline;
}

.isAuthor p.message-body a {
    color: white;
    text-decoration: underline;
}

.isAuthor p.message-body {
    background: #5B87AE;
    color: white;
}

.container-no-messages {
    min-height: 300px;
}
*/
