.table-draft .info {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid silver;
    font-size: 12px;
}

.nav-my-publication a {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    margin-left: 10px;
    font-size: 1.4rem;
}

.nav-my-publication .red {
    background: #F44336 !important;
}

.nav-my-publication .blue {
    background: #2196F3 !important;
}

.nav-my-publication .green {
    background: #21f267 !important;
}