.actions-wall {
    margin: 0 0 20px 0;
}

.wall {
    width: 100%;
    min-height: 300px;
}

.wall .column-left {
    clear: right;
    float: left;
    width: 26%;
    margin-right: 5px;
}

.wall .column-right {
    float: right;
    width: 70%;
}

.wall .postMessage {
    margin-bottom: 15px;
}

.wall .postMessage textarea {
    width: 100%;
    margin: 0 0 20px 0;
}
.wall .message-mur {
    padding-bottom: 10px;
}

.wall .deleteWallPost {
    float: right;
    cursor: pointer;
}

.wall h3 {
    margin: 40px 0 5px 0;
    text-transform: uppercase;
    font-size: 14px;
}

.wall ul {
    list-style: none;
    font-size: 12px;
    margin: 10px 0;
    padding: 0
}