#publication-list .card-title {
    color: #212529;
    font-size: 1rem;
    margin-bottom: 0;
}

#publication-list .video-tag {
    position: absolute;
    color: #e9573f;
    top: 10px;
    font-size: 5rem;
    width: 100%;
    margin-left: -1.25rem;
}

#publication-list .card-body {
    padding: 0.8rem;
}

#publication-list .card-text {
    margin-top: 0.75rem;
    font-size: 0.8em;
}

.card-text {
    color: #212529;
}