#search-items {
    font-size: 16px;
    margin-top: 20px;
    position: relative;
}

#search-items label,
#search-items input,
#search-items select {
    width: 100%;
    display: block;
}
#search-items .item {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}


#map {
    margin-top: 20px;
    min-height: 350px;
}

#search-musician {
    margin-top: 25px;
}

#results-container .avatar {
    float: left;
    width: 20%;
    margin-top: 7px;
}
#results-container .infos {
    float: left;
    margin-left: 5%;
    margin-bottom: 15px;
    width: 75%;
    color: #24292e;
    padding: 7px 15px;
    border: 1px solid #a8a8a8;
}

#results-container .login{
    margin-bottom: 7px;
    display: inline-block;
}

#results-container span {
    display: block;
    margin-top: 5px;
}

