/**
--- THIS FILE CONTAINS ALL THE BREAK-COMPATIBILITIES ---
---DON'T REMOVE THIS FILE ---
*/

.medium-insert-images img {
    margin: 25px auto;
    display: block;
    width: 80%;
}

.medium-insert-embeds {
    margin: 15px auto;
}

@media screen and (max-width: 1000px) {
    .medium-insert-images img {
        width: 100%
    }
}


//@extend .error;