
body {
    background: #E9EBEE;
    font-weight: 400;
    padding-top: 110px;
    font-family: 'Open Sans', sans-serif !important;
}

a {
    color: #08326f;
    text-decoration: none
}

a:hover {
    color: #247cb9;
    text-decoration: none
}

a:active, a:focus {
    outline: 0
}

a img {
    text-decoration: none;
    border: none
}


.content-box {
    background: white;
    padding: 15px;
    width: 100%;
}