
body {
    background: #E9EBEE;
    padding-top: 110px;
    font-family: 'Open Sans', sans-serif !important;
}

a {
    color: #08326f;
    text-decoration: none
}

a:hover {
    color: #247cb9;
    text-decoration: none
}

a:active, a:focus {
    outline: 0
}

a img {
    text-decoration: none;
    border: none
}


.content-box {
    background: white;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

.cursor-pointer {
    cursor: pointer;
}