// GLOBALS
$body-background-color: #E9EBEE;

$link: #08326f;
$link-hover-color: #247cb9;


$footer-background-color: #373737;

.is-text-overflow {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}