h2 {
    color: #647c8f;
    text-transform: uppercase;
}

h2 a {
    color: #647c8f;
    text-transform: none;
}

h2 span {
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 11pt
}