h1 {
    color: #647c8f;
    text-transform: uppercase;
    font-size: 1.6rem;
}

h1 a {
    color: #647c8f;
    text-transform: none;
}

h1 span {
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
}
