
.actions-menu {
    position: absolute;
    right: -25px;
    top: -30px;
    display: inline-block;
    padding: 0 0 0 15px;
}

.actions-menu .add {
    opacity: 1;
    background: #6596C1;
    color: white;
    border-radius: 50%;

    line-height: 1em;
    font-size: 23px;
    text-decoration: none;
    border-bottom: none;

    width: 56px;
    height: 56px;
    left: 0;
    padding: 17px 0 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: transform 200ms;
    text-align: center;

    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    vertical-align: middle;
}

.actions-menu ul {
    visibility: hidden;
    text-align: right;
    right: 64px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    left: auto;

    padding-left: 0;
    list-style-type: none;

    position: absolute;
    bottom: 64px;
    margin: 0;

    width: 200px;
}

.actions-menu.active ul {
    visibility: visible;
}

.actions-menu ul li {
    display: inline-block;
    margin: 15px 15px 0 0;
}

.small-btn {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;

    font-size: 1.4rem;

    transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px);
    opacity: 0;

}

.small-btn:hover {
    color: white;
}

.btn-animate {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
}

.small-btn.red {
    background: #F44336 !important;
}

.small-btn.blue {
    background: #2196F3 !important;
}

.small-btn.green {
    background: #21f267 !important;
}
