.global-alert-container {
    width: 260px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999;
}

.alert {
    position: relative;
    line-height: 1.9;
    padding: 15px 20px;
    margin-top: 10px;
    clear: both
}

.alert.error {
    background: #F0BEBE;
    border: 1px solid #D8A9A9;
    border-bottom: 3px solid #D8A9A9;
    color: #CA7A7A;
}

.alert.success {
    background: #d4fbda;
    border: 1px solid #5dbb5f;
    border-bottom: 3px solid #5dbb5f;
    color: #5dbb5f;
}

/* SPECIFIQUE */

.alert.global {
    padding: 7px 20px;
}

.alert.registration {
    font-size: 11px;
    line-height: 1.2;
    margin: 0 0 10px;
    padding: 5px 20px;
}

.alert.publication {
    position: static;
    line-height: 1.2;
    padding: 5px 20px;
    display: none;
    margin: 5px 0
}

.alert-container {
    position: absolute;
    width: 100%;
    top: -10px;
    z-index: 9;
}

.alert.publication-edit {
    line-height: 1.2;
    padding: 20px;
    margin: auto;
    display: block;
    width: 400px;
}

.alert-container .close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}