.youtube-btn {
    background: #FF0000;
    border-color: #FF0000;
}

.youtube-btn:not(:disabled):not(:disabled):hover,
.youtube-btn:not(:disabled):not(:disabled):active,
.youtube-btn:not(:disabled):not(:disabled):focus {
    background: #FF0000;
    border-color: #FF0000;
}


.youtube-btn:not(:disabled):not(:disabled):active,
.youtube-btn:not(:disabled):not(:disabled):active:focus,
.youtube-btn:not(:disabled):not(:disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}