.card-horizontal {
}

.card-horizontal .card-horizontal-image {
  display: flex;
  justify-content: center;
  flex: 0 0 210px;
  height: auto;
  background-size: cover;
  background-position: center center;

  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card-content-container {
  width: 0;
  flex: 1 1 auto;
}

@media only screen and (max-width: 600px) {
  .card-horizontal .card-horizontal-image {
    flex: 0 0 100px !important;
  }
}