#menu  ul {
    list-style: none;
    margin: 0;
    padding:0;
}

#menu  a {
    color: #1d2129;
}
#menu > ul > li {
    display: block;
}
#menu > ul > li > a {
    display: block;
    font-size: 18px;
    color: #666;
    font-weight: 600;
    margin: 15px 0;
}
#menu > ul > li:first-child > a {
    margin-top: 0;
}
#menu a {
    padding: 5px 10px;
}