.navbar {
    background-color: white;
}

.navbar-brand {
    background: #5B87AE;
    padding: 2px 13px 5px 13px;
    border-radius: 2px;
}

.btn-registration {
    color: #fff;
    background-color: #9b9b9b;
    border-color: #9b9b9b;
}
.btn-registration:hover {
    color: #9b9b9b;
    background-color: #fff;
}

.btn-login {
    color: #fff;
    background-color: #ffa23f;
    border-color: #ffa23f;
}

.btn-login:hover {
    color: #ffa23f;
    background-color: #fff;
}