.member-nav {
    float: right;
}

.member-nav img {
    border-radius: 50%;
    display: block;
    width: 32px;
}

.dropdown.profil-link {
    width: 160px;
}

.member-nav .profil-link {
    display: inline-block;
    font-size: 19px;
    height: 32px;
    padding: 0 0 2px 2px;
}

.profil-link span {
    display: none;
}

.unread-box {
    display: block;
    height: 21px;
}

.unread-box span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #FFA23F;
    color: white;
    font-size: 10px;
    padding-top: 3px;
    border-radius: 50%;
    text-align: center;
}

.member-nav i {
    font-size: 17px;
    display: block;
    margin-bottom: 4px;
}

.member-nav .message-link,
.member-nav .amitie-link {
    width: 70px;
    height: 40px;
    margin: -3px 0 0 0;
    position: relative;
    color: #666;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
}