.publication-type {
    padding: 3px 0;
    font-size: 0.8em;
    display: block;
    color: #666;
}

.publication-type.text {
    color: #5b87ae;
}

.publication-type.video {
    color: #e9573f;
}

.publication-type.news {
    color: #ffb236
}