.results {
    position: absolute;
    right: 0;
    margin-top: 45px;
    background: white;
    min-width: 500px;
}

.results h4 {
    font-size: 0.8rem;
}

.results i  {
    cursor: pointer;
}

.results span {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.results span:first-of-type {
    padding-top: 0px;
}

.results span:last-of-type {
    padding-bottom: 0px;
    border: none;
}