#admin .article {
    margin: 0;
    width: 100%;
}

#admin .group {
    margin: 20px 0;
}

#admin .group input,
#admin .group textarea {
    margin: 0px;
}

#admin .group .title {
    width: 300px;
    margin-right: 10px;
}