{% extends "base.html.twig" %}

{% block body %}
    <h2>Search</h2>

    <p>Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque
        serpentes latius pro viribus repellere moliens, nunc globis confertos, aliquotiens et dispersos multitudine
        superabatur ingenti, quae nata et educata inter editos recurvosque ambitus montium eos ut loca plana persultat
        et mollia, missilibus obvios eminus lacessens et ululatu truci perterrens.</p>

    <p>Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam
        Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus
        pascebantur.</p>

    <p>Cum haec taliaque sollicitas eius aures everberarent expositas semper eius modi rumoribus et patentes, varia
        animo tum miscente consilia, tandem id ut optimum factu elegit: et Vrsicinum primum ad se venire summo cum
        honore mandavit ea specie ut pro rerum tunc urgentium captu disponeretur concordi consilio, quibus virium
        incrementis Parthicarum gentium a arma minantium impetus frangerentur.</p>

    <p>Et prima post Osdroenam quam, ut dictum est, ab hac descriptione discrevimus, Commagena, nunc Euphratensis,
        clementer adsurgit, Hierapoli, vetere Nino et Samosata civitatibus amplis inlustris.</p>

    <p>Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat
        suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit. Quid enim?
        Africanus indigens mei? Minime hercule! ac ne ego quidem illius; sed ego admiratione quadam virtutis eius, ille
        vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
        Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi
        profectae.</p>

{% endblock %}