.publication-container {
    font-size: 1.1rem;
}

.publication-container img {
    margin: 20px auto;
    display: block;
    width: auto;
}

.publication-container h3 {
    @apply text-2xl font-semibold leading-tight text-surface-900 dark:text-surface-0 mt-4;
}

.publication-container a {
    @apply font-semibold text-slate-400;
}
