<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block site_title %}MusicAll{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content="{% block site_description %}{% endblock %}"/>
    <meta name='keywords'
          content='musicien cherche musicien, chercher musicien, chercher chanteuse, chercher guitariste, chercher batteur, chercher groupe, groupe cherche musicien, musicien cherche groupe, groupe cherche musicien, chercher chanteur, chercher bassiste, groups de rock, cherche pianiste, tutoriel de batterie, tutoriel de guitare, tutoriel de basse, forum, forum de musiciens'/>
    <meta name='robots' content='index, follow'/>

    <meta name="verify-v1" content="dKTCUOuzn9n0Y5rkFus+08eZunNMKBKj7sqURPF4KIs="/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {{ encore_entry_link_tags('css') }}
</head>
<body>
<noscript>Votre navigateur ne supporte pas le JavaScript! Activez le pour pouvoir profiter au mieux du site.</noscript>
<div id="nav-container">
    {% include 'navbar.html.twig' %}
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-2">{% include 'menu.html.twig' %}</div>
        <div class="col-12 col-lg-10">{% block body %}{% endblock %}</div>
    </div>
</div><!-- /.container -->

{% include "footer.html.twig" %}
{{ encore_entry_script_tags('app') }}
</body>
</html>