{% extends "base.html.twig" %}

{% block body %}
    <div id="publications"><router-view></router-view></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('publication-user') }}
{% endblock %}